.screen-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /*-Outside scroll will not work-*/
}

.sidebar-wrapper {
    flex-shrink: 0;
    z-index: 10;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    background-color: var(--bg-secondary);
}

.navbar-wrapper {
    flex-shrink: 0;
}

.content-viewport {
    flex-grow: 1; /*Takes remaining space*/
    overflow-y: auto; /*scrollbar comes if content is big*/
}